{% extends 'base.html' %}

{% block content %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
      

    
        <section>
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-2">
         
              </div>

              <div class="col-lg-8">
                <div class="stats-with-chart-2 block">
                  <div class="title"><strong class="d-block">Credit Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
                  <div class="piechart chart">
                    <canvas id="pieChartHome1"></canvas>
                    <div class="text"><strong class="d-block">$2.145</strong><span class="d-block">Sales</span></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2">

              </div>


            </div>
          </div>
        </section>
{% endblock content %}